{% extends 'base.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <h1>Edit Video</h1>
    {{ include('video/video_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
