input[type=email],
input[type=password] {
    box-shadow: none;
    margin-top: 30px;
    border-bottom: 1px solid #dfe6e9;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

input[type=email]:focus,
input[type=password]:focus {
    box-shadow: none;
}

label[for=inputEmail],
label[for=inputPassword] {
    margin-top: 30px;
}